.register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.register-input{
  display: flex;
  flex-direction: column-reverse;
  color: rgb(169, 25, 67);
}

.register-input input{
  border: 2px solid transparent;
  border-bottom-color: #9e045c;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  background: transparent;
  color:  rgb(178, 173, 173);
}

.register-input label{
  transition: all 0.3s ease-in-out;
}

.register-input input:focus{
  border-color: #e90a52;
  outline: none;
  background: rgba(233, 10, 82, 0.3);
}

.register-input input:focus + label{
  color: rgba(233, 10, 82);
}

.register-header{
  font-size: 50px;
  color: rgb(169, 25, 67);
}

.register-submit-button{
  background-color: transparent;
  border: 2px solid #9e045c;
  padding: 20px 50px;
  color: rgb(169, 25, 67);;
  font-size: 20px;
  font-family: Basic, sans-serif;
  transition: all 0.3s ease-in-out;
}

.register-submit-button:hover{
  border-color:  #e90a52;
  color:  #e90a52;
  background-color: rgba(233, 10, 82, 0.3);
}